@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  gap: 12px;
}
/* Nav - Global*/
header {
  width: 390px;
  height: 121px;
}
.navigation {
  width: 390px;
  height: 48px;
  filter: blur(20);
}
.overlay {
  display: flex;
  align-items: center;
  height: 48px;
  width: 390px;
  background-color: rgba(245, 245, 247, 0.8);
  position: relative;
}
.vector {
  background-repeat: no-repeat;
  background-size: cover;
}
.image-full {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1 {
  background-image: url("./apple-logo.png");
  width: 16px;
  height: 19px;
}
.image2 {
  background-image: url("./search-bar.png");
  width: 16px;
  height: 16px;
}
.image3 {
  background-image: url("./shop-bar.png");
  width: 15.12px;
  height: 17.6px;
}

.margin-2 {
  position: absolute;
  left: 246px;
}
.margin-3 {
  position: absolute;
  left: 294px;
}
.sticks {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  left: 342px;
}
.stick {
  width: 14px;
  border-color: rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 1.2px;
  border-radius: 9999px;
}
/* Container*/
.nav-container {
  width: 390px;
  height: 73px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
}
.nav-text {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #1d1d1f;
}
/*Section*/
.section {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 1546px;
  position: relative;
}
.background {
  width: 390px;
  height: 500px;
}
.back1 {
  background-color: #000000;
}
.back2 {
  position: absolute;
  background-color: #f5f5f7;
  top: 512px;
}
.back3 {
  position: absolute;
  background-color: #f5f5f7;
  top: 1024px;
}
.back-image1 {
  background-image: url("./16pro.png");
}
.back-image2 {
  background-image: url("./16.png");
}
.back-image3 {
  background-image: url("./pad.png");
}
.back-image {
  width: 390px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.frame-24-1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 241px;
  height: 114px;
  gap: 16px;
  top: 350px;
  left: 75px;
}
.text {
  display: flex;
  flex-direction: column;
  width: 241px;
  height: 62px;
  gap: 4px;
}
.pro-16 {
  color: #f5f5f7;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.hello {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: #f5f5f7;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.button {
  display: flex;
  justify-content: center;
  width: 241px;
  height: 36;
  opacity: 1;
  gap: 12px;
}
.learn-more {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0071e3;
  width: 107;
  height: 36;
  opacity: 1;
  gap: 10px;
  border-radius: 999px;
  display: flex;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}
.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2997ff;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  width: 66;
  height: 36;
  opacity: 1;
  gap: 10px;
  border-style: solid;
  border-radius: 999px;
  border-width: 1px;
  border-color: #2997ff;
}
.frame-24-2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 241;
  height: 114;
  opacity: 1;
  gap: 16px;
  top: 36px;
  left: 75px;
}
.buy-2 {
  border-color: #ffffff;
  color: #ffffff;
}
.learn-more-2 {
  background-color: #ffffff;
  color: #000000;
}
.gradient-hello {
  position: absolute;
  top: 446px;
  left: 112px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b, #f55600);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.frame-24-3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 390;
  height: 133.86045837402344;
  opacity: 1;
  gap: 16px;
  top: 36px;
}
.air-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 390px;
  height: 82px;
  gap: 8px;
}
.air-img1 {
  background-image: url("./pad-air.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 180;
  height: 41.8604621887207;
  opacity: 1;
}
.air-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.button1 {
  margin-left: 75px;
}
/*Frame-27*/
footer {
  display: flex;
  flex-direction: column;
  width: 390;
  height: 3833;
  opacity: 1;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
