@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html {
  display: flex;
  justify-content: center;
  width: 100%;
}
body {
  height: auto;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
/* Nav - Global*/
header {
  width: 100%;
  height: 121px;
}
.navigation {
  width: 100%;
  height: 48px;
  filter: blur(20);
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  background-color: rgba(245, 245, 247, 0.8);
  position: relative;
}
.top-text {
  display: none;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-align: center;
  vertical-align: middle;
  gap: 24px;
}
.nav-bars {
  display: flex;
}
.vector {
  background-repeat: no-repeat;
  background-size: cover;
}
.image-full {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1 {
  background-image: url("./apple-logo.png");
  width: 16px;
  height: 19px;
}
.image2 {
  background-image: url("./search-bar.png");
  width: 16px;
  height: 16px;
}
.image3 {
  background-image: url("./shop-bar.png");
  width: 15.12px;
  height: 17.6px;
}

.sticks {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.stick {
  width: 14px;
  border-color: rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 1.2px;
  border-radius: 9999px;
}
@media (min-width: 1920px) {
  .overlay {
    justify-content: center;
    gap: 24px;
  }
  .sticks {
    display: none;
  }
  .top-text {
    display: block;
  }
}
/* Container*/
.nav-container {
  width: 100%;
  height: 73px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
}
.nav-text {
  font-size: 14px;
  width: 330px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #1d1d1f;
}
@media (min-width: 768px) {
  .nav-container {
    height: 48px;
  }
  .nav-text {
    width: 444px;
    display: flex;
    gap: 10px;
  }
  header {
    display: flex;
    flex-direction: column;
    height: 108px;
    gap: 12px;
  }
}
@media (min-width: 1920px) {
  header {
    height: 96px;
  }
  .nav-text {
    width: 680px;
  }
}
/*Section*/
.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 12px;
}
.background {
  width: 100%;
  height: auto;
}
.back1 {
  background-color: #000000;
}
.back2 {
  background-color: #f5f5f7;
}
.back3 {
  background-color: #f5f5f7;
}
.back-image1 {
  background-image: url("./16-pro.jpg");
  align-items: end;
  justify-content: center;
}
.back-image2 {
  background-image: url("./16.jpg");
  justify-content: center;
}
.back-image3 {
  background-image: url("./pad.jpg");
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.back-image {
  display: flex;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frame-24-1 {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 16px;
  margin-bottom: 36px;
}
.text {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 8px;
}
.pro-16 {
  color: #f5f5f7;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.hello {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  color: #f5f5f7;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.button {
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  height: auto;
  opacity: 1;
  gap: 12px;
}
.learn-more {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0071e3;
  width: 107;
  height: 36;
  opacity: 1;
  gap: 10px;
  border-radius: 999px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}
.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2997ff;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  width: 66;
  height: 36;
  opacity: 1;
  gap: 10px;
  border-style: solid;
  border-radius: 999px;
  border-width: 1px;
  border-color: #2997ff;
}
.frame-24-2 {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  height: auto;
  opacity: 1;
  gap: 16px;
  margin-top: 36px;
}
.buy-2 {
  border-color: #ffffff;
  color: #ffffff;
}
.learn-more-2 {
  background-color: #ffffff;
  color: #000000;
}
.gradient-hello {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b, #f55600);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  height: auto;
  margin-bottom: 23px;
}
.frame-24-3 {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390;
  height: auto;
  opacity: 1;
  gap: 16px;
  margin-top: 36px;
}
.air-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 390px;
  height: auto;
  gap: 8px;
}
.air-img1 {
  background-image: url("./pad-air.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 180;
  height: 41.8604621887207;
  opacity: 1;
}
.air-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.back-1920 {
  background-color: #f5f5f7;
  display: none;
}
.back-image-1920 {
  background-image: url("./1920-magic.jpg");
  align-items: end;
  justify-content: center;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  width: 405;
  height: 164;
  gap: 16px;
  margin-bottom: 82px;
  align-items: center;
  text-align: center;
}
.text-gap {
  gap: 12px;
}
.gift-magic {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 52px;
}
.com-tru {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
}
.shop-gift {
  width: 114;
  height: 44;
  gap: 10px;
}
@media (min-width: 768px) {
  .section {
    gap: 12px;
  }
  .back-image {
    height: 650px;
  }
  .back-image1 {
    background-image: url("./768pro.jpg");
    align-items: start;
  }
  .back-image2 {
    background-image: url("./768-16.jpg");
  }
  .back-image3 {
    background-image: url("./768pad.jpg");
  }
  .frame-24-1,
  .frame-24-2,
  .frame-24-3 {
    margin-top: 58px;
  }
  .text {
    gap: 16px;
  }
  .gradient-hello {
    margin-bottom: 62px;
    font-size: 22px;
    height: 24px;
  }
  .air-text {
    font-size: 22px;
  }
  .pro-16 {
    font-weight: 600;
    font-size: 42px;
  }
  .hello {
    font-size: 22px;
  }
  .button {
    gap: 16px;
  }
  .learn-more {
    width: 123;
    height: 44;
    gap: 10px;
    font-size: 16px;
  }
  .buy {
    width: 68;
    height: 44;
    gap: 10px;
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  .section {
    gap: 12px;
  }
  .back-image {
    height: 692px;
  }
  .back-image1 {
    background-image: url("1920-pro.jpg");
    align-items: start;
  }
  .back-image2 {
    background-image: url("./1920-16.jpg");
  }
  .frame-24-1,
  .frame-24-2 {
    margin-top: 55px;
    gap: 20px;
  }
  .text {
    gap: 20px;
  }
  .pro-16 {
    font-weight: 600;
    font-size: 52px;
  }
  .hello {
    font-size: 24px;
  }
  .button {
    gap: 16px;
  }
  .learn-more {
    width: 123;
    height: 44;
    gap: 10px;
    font-size: 16px;
  }
  .buy {
    width: 68;
    height: 44;
    gap: 10px;
    font-size: 16px;
  }
  .back-1920 {
    display: block;
  }
  .back3 {
    display: none;
  }
}
